= form_for :contact_form, :url => email_path, :remote => true do |f|
  - if @contact_form.errors.any?
    %ul.errors
      - @contact_form.errors.full_messages.each do |msg|
        %li= h(msg)
  
  %label{:for => 'contact_email[name]'} Your name
  = f.text_field :name
  = f.text_field :nickname, :class => 'nickname'
  %label{:for => 'contact_email[email]'} Your email
  = f.text_field :email
  %label{:for => 'contact_email[subject]'} Subject
  = f.text_field :subject
  %label{:for => 'contact_email[message]'} Message
  = f.text_area :message
  = f.button 'Send it!'